body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 20px;
    background: #f7f7f7;
}

h1, p {
    text-align: center;
}

#colors {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.color-group {
    text-align: center;
}

.percentage {
    font-size: 2em;
    margin: 0.5em 0;
}

.percentage-bar {
    height: 20px;
    background: #ddd;
    margin-bottom: 0.5em;
    border-radius: 10px;
    position: relative;
}

.ratio {
    font-size: 0.8em;
    margin-bottom: 1em;
}

.bet-button {
    padding: 10px 15px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
    border-radius: 25px; /* Rounded edges */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Soft shadow for depth */
}

.bet-button:hover, .bet-button:focus {
    transform: translateY(-3px); /* Slight lift on hover/focus */
    box-shadow: 0 6px 6px rgba(0,0,0,0.16); /* Larger shadow for lifted effect */
}

#bet {
    text-align: center;
    margin: 20px 0;
}

#result {
    text-align: center;
    margin-top: 2em;
}

#red-percentage,
#red-group{
    color: #E53E3E; /* A deeper shade of red for text */
}

#red-bar,
#red-group .bet-button {
    background-color: #E53E3E; /* A deeper shade of red for background */
}

#blue-percentage,
#blue-group {
    color: #3182CE; /* A much more vivid shade of blue for text */
}

#blue-bar,
#blue-group .bet-button {
    background-color: #3182CE; /* A much more vivid shade of blue for background */
}